@font-face {
  font-family: JannaLTRegular;
  src: url('../fonts/a-jannat-lt.ttf');
}
body, html{
  font-family:JannaLTRegular ;
}
a:hover, a:focus, a:active
.btn:hover, .btn:focus, .btn:active
button:hover, button:focus, button:active, div:focus {

  outline: none;
  box-shadow: none;
  border-color: transparent;
}
.hvr-ripple-out:before {
  border: .2px solid #fff;
  border-radius: 10px;}
.form-control:focus, .form-control:active{
  outline: none;
  box-shadow: none;
}
a{
  transition: all .2s ease-in-out;
}
a:hover{
 color: #4f69ff; 
}
.btn:hover {
  color: #4f4f4f;}

nav .btn-navy:hover{
   color: #ffffff;
    box-shadow: 0 10px 10px 0 rgb(25 35 37);
    background: #3E57E3;
    border-bottom: 1px solid #3E57E3;
}
nav .btn-login:hover{
   color: #ffffff;
   box-shadow: 0 10px 10px 0 rgb(25 35 37);
   background: #D1095B;
   border-bottom: 1px solid #D1095B;
}
nav li a.btn-login, nav li a.btn-navy{
  width: 110px;
  justify-content: center;
  margin: 0 10px 0 ;


}
nav li.nav-item .btn img{
  background: white;
  border-radius: 10px;
  transition: all .2s ease-in-out;

}
  
header{
  background-color: rgb(24 25 26 / 0.2);
}
header .header-description{
  width: 48%;
  margin: auto;
  line-height: 2;
  margin-bottom: 30px;
}
nav li{
  font-size: 16px;
  font-weight: bold;
  color: rgba(13, 36, 54, 0.8);
  white-space: nowrap;
}
nav li a{
  color: #ffffff;
  border-bottom: 1px solid transparent;
}
nav .btn{
  height: 46px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.05;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
  margin: 0 16px 1px;
}
a.btn-call svg rect{
  fill: #f4f4f4;
  opacity: 1;
}
a.btn-call:hover, .btn-lang:hover{
  color: #fff;
  border-radius: 0;
}

nav a.navbar-brand:hover{
  border-bottom: 1px solid transparent;
}
nav a.navbar-brand{
  border-bottom: 1px solid transparent;
}

nav .btn-lang{
  margin: 0;
}
.btn-login{
  background-color: #ef106c;
}
.btn-navy{
  background-color: #4f69ff;
}

.nav-button #nav-icon3{width:24px;height:22px;display:inline-block;position:relative;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;transition:.5s ease-in-out;cursor:pointer;}
.nav-button #nav-icon3 span{display:block;position:absolute;height:3px;width:100%;background:#FFFFFF;border-radius:9px;opacity:1;left:0;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.25s ease-in-out;-moz-transition:.25s ease-in-out;-o-transition:.25s ease-in-out;transition:.25s ease-in-out}
.nav-button #nav-icon3 span:nth-child(1){top:0}
.nav-button #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3){top:7px}
.nav-button #nav-icon3 span:nth-child(4){top:14px}
.nav-open #nav-icon3 span:nth-child(1){top:9px;width:0;left:50%}
.nav-open #nav-icon3 span:nth-child(2){-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.nav-open #nav-icon3 span:nth-child(3){-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
.nav-open #nav-icon3 span:nth-child(4){top:9px;width:0;left:50%}
.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}
.navbar-collapse.collapse.show{
  content: '';
  position: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: flex;
  flex-direction: column;
  background: #031a2d;
  text-align: center;
  padding: 20px;
  overflow: scroll;
}
.navbar-collapse.collapse.show:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;

}
.nav-container{
  z-index: 99999 !important;
  transition: all .2s ease-in-out;
}
.menuContainer{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999 !important;
}
.burger {
  position: fixed;
  z-index: 10;
  right: 25px;
  top: 25px;
  cursor: pointer;
  transform: rotateY(0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 99999999;
  display: none
}
.burger__patty {
  width: 28px;
  height: 2px;
  margin: 0 0 4px 0;
  background: #4f69ff;
  /*white; */
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty:last-child {
  margin-bottom: 0;
}
.burger--close {
  transform: rotate(180deg);
}
.burger--close .burger__patty:nth-child(1) {
  transform: rotate(45deg) translate(4px, 4px);
}
.burger--close .burger__patty:nth-child(2) {
  opacity: 0;
}
.burger--close .burger__patty:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -4px);
}
nav.menu .dropdown-menu.show {
  left: -57px;
}
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}
.menu--active {
  visibility: visible;
}
.menu__brand, .menu__list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.menu__list {
  margin: 0;
  padding: 0;
  background: #e7e7ee;
  list-style-type: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__list--active {
  transform: translate3d(0, 0, 0);
}
.menu__brand {
  background: #f4f5f6;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transform: translate3d(0, 100%, 0);
}
.menu__brand--active {
  transform: translate3d(0, 0, 0);
}
.menu__item {
  transform: translate3d(500px, 0, 0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__item--active {
  transform: translate3d(0, 0, 0);
}
.menu__link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  padding: 15px 0;
  font-weight: 700;
  color: white;
  text-decoration: none;
  color: white;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 10px;
  height: 2px;
  background: #4f69ff;
  transform: translateX(-50%);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link img{
  background: white;
  border-radius: 10px;
}
.menu__link:hover:before {
  width: 100%;
}
.menu .menu__item:nth-child(1) {
  transition-delay: 0.1s;
}
.menu .menu__item:nth-child(2) {
  transition-delay: 0.2s;
}
.menu .menu__item:nth-child(3) {
  transition-delay: 0.3s;
}
.menu .menu__item:nth-child(4) {
  transition-delay: 0.4s;
}
.menu .menu__item:nth-child(5) {
  transition-delay: 0.5s;
}
.menu .menu__item:nth-child(6) {
  transition-delay: 0.6s;
}


@media screen and (max-width: 990px) {
  .burger{
    display: block;
  }
  header .header-description{
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
 
  ul.menu__list,
div.menu__brand {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu__list--active,
div.menu__brand--active {
    transform: translate3d(0, 0, 0);
  }

  .menu__list {
    height: 100%;
    position: fixed;
    transform: translate3d(-100%, 0, 0);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__brand {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }
  .menu__brand .logo {
    width: 90px;
    height: 90px;
  }
}


.nav-fixed{
  position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 1px 1px 0 rgb(25 35 37 / 6%)
}
.nav-fixed li a, .nav-fixed .btn{
  color: rgba(13, 36, 54, 0.8)
}
.nav-fixed .btn-navy, .nav-fixed .btn-login{
  color: white;
}

.nav-fixed li a:hover, .nav-fixed .btn:hover{
   color: #4f69ff; 
   border-bottom: 1px solid #3E57E3;
}
.nav-fixed .btn-login:hover{
  border-bottom: 1px solid #d1095b;

}
.nav-fixed .btn-navy:hover, .nav-fixed .btn-login:hover{
  color: white;
}
.nav-fixed a.btn-call:hover svg rect{
  fill: #4f69ff !important;
  opacity: 1;
}
.nav-fixed a.btn-call:hover svg g{
  stroke: #fff !important;
}
nav a:hover{
  color: #fff; 

  border-bottom: 1px solid #ffff;

}
.nav-fixed .btn-login:hover, .nav-fixed .btn-navy:hover{
  box-shadow: 0 4px 4px 0 rgb(25 35 37 / 22%);
}

.topFooter{
  padding: 35px 0px;
  background-color: #031a2d;
  color: #ffffff;
}
.topFooter a.btn.btn-block.btn-faq.hvr-ripple-out:before {
 border: .2px solid rgba(255, 255, 255, 0.16);
}

.topFooter h2{
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
}
.topFooter .btn{
  line-height: 1.8;
  width: 253px;
  height: 46px;
  border-radius: 10px;
}
.topFooter .btn-contact{
  background-color: #ffffff;
}
.topFooter .btn-faq{
  border: solid 1px rgba(255, 255, 255, 0.16);
  background-color: #061724;
  color: #ffffff;
}
.bottomFooter{
  padding: 10px 0;
}
.bottomFooter li a{
   font-size: 14px;
  color: rgba(13, 36, 54, 0.8);

}
.bottomFooter .socialLinks a{
  color: #18191a;
}
.bottomFooter .socialLinks i{
  font-size: 20px;
  

}
.bottomFooter .socialLinks .fa-linkedin-in{
color: #007ebb;
}
.bottomFooter .socialLinks .fa-instagram{
  background: linear-gradient(203deg, rgba(158, 53, 165, 0) 74%, rgba(212, 47, 127, 0.5) 46%, #f7772e 26%, #fef780 11%);
  color: rgb(212 47 127 / 68%);
}
.bottomFooter .socialLinks .fa-twitter{
color: #00aaec;
}
.bottomFooter .socialLinks .fa-facebook-square{
color: #4460a0;
}
@media (max-width:1150px){
  .topFooter .btn {
    line-height: 1.8;
    width: 227px;}
}
@media (max-width:1000px){
  .topFooter .btn {
    width: 200px;}
    .col-animation .form-group{
      width: auto;
    }
  
}
@media (max-width: 750px){

  header .header-description{
  display: none
  }
  .topFooter .btn {
    width: 100%;}
  .topFooter ul{
 
    display: inline-block !important;
    width: 100%;
  }
  .topFooter  ul li{
    margin: 10px;
  }
  .topFooter h2 {
    font-size: 32px;
    text-align: center !important;}
}


@media (max-width: 500px){
  .menu__link {
    font-size: 20px;
}
  .flex-direction-sm{
    flex-direction: column;
  }
  .flex-direction-sm li{
    margin: 10px 0;
  }
  .bottomFooter li a{
    font-size: 13px;
  }
  button.navbar-toggler {
    z-index: 999;
    position: fixed;
    left: 0;
}

  .navbar-collapse.collapse.show ul{
    margin: 0 !important;
    flex-direction: column;
    text-align: center;
  }
  .navbar-collapse.collapse.show ul a{
    justify-content: center;

  }
  .btn-navy{
    margin: 20px !important;
  }
  .dropdown-menu{
    text-align: center !important;
  }
}