header{
  background-image: url('../imgs/home/hero-header.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;

}
.nav-container{
  background-color: hsl(210 4% 10% / .2);
}
.nav-container,header .container{
  z-index: 9;
}
header:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,.1) 100%);

}
header h1{
  font-size: 48px; 
  color: #ffffff;
}
header p {
  opacity: 0.91;
  font-size: 20px;
  color: #ffffff;
}
header form{
  border-radius: 10px;
}

 
form .btn{
  transition: all .2s ease-in-out;
}
header form .btn-block:hover {
  color: #f7f8ff;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2)

}
header .col-info{
  background-color: #f7f8ff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
header .col-animation{
  background: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

header span.title{
  font-size: 16px;

  color: rgba(13, 36, 54, 0.6)
}


/* --- material floating label --- */
.col-animation  .form-group.focused {
    background-color: #e5ebf7;
    border: solid 1px #b1bbf5;
    border-radius: 8px;
    position: relative;


}

.col-animation .form-group {
  display: flex;
  height: 55px;
  width: 500px;
  margin: 0 auto;
  border-radius: 8px;
  border: solid 1px #ede8e9;
  background-color: #ffffff;
  position: relative;

}

.col-animation .control-label {
  opacity: 0;
}
.col-animation .control-label {
  font-size: 16px;
  font-weight: 400;
  pointer-events: none;
  position: absolute;
  transform: translate3d(0, 22px, 0) scale(1);
  transform-origin: left top;
  transition: 240ms;
  line-height: 29px;
}

.col-animation  .form-group.focused .control-label {
  opacity: 1;
  transform: scale(0.75);
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.1px;
  text-align: right;
  color: #18191a;
  right: -145px;
  left: 0;
  top: 5px;
  opacity: 1;

}
.col-animation i{
  position: absolute;
  left: 10px;
  top: 20px;
  color: rgb(24 25 26 / .4);
}
.col-animation  .form-group.focused i{
  color: #4f69ff;
}
.col-animation .form-control {
  align-self: center;
  background: transparent;
    border: none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    font-size: 14px;

}
.col-animation  .form-group.focused .form-control{
  align-self: flex-end;

}
.col-animation .form-group.focused .form-control {
  color: #4f69ff ;

}
.col-animation .justselect-wrapper{
  width: 100%;
}
.justselect-list {
  z-index: 99;
  top: 55px;
}
.justselect-title{
  display: flex;
  background-image: none;
  align-items: center;
  height: 100%;
  background: transparent;
  border: none;

}
.justselect-title *{
  content: none !important;
}
.justselect-list li {
  line-height: 40px;
  cursor: pointer;
  text-align: right;
  transition: all .2s ease-in-out;
}
.justselect-list li:hover{
  color: #4f69ff;
}

.c-filter {
  position: relative;
}
.form-group.focused .c-filter__toggle {
   border: 0;
 
  bottom: -5px;

}
.c-filter__toggle:after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  
}
.c-filter__toggle--active:after {
  transform: rotate(180deg);
}
.c-filter__ul {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
  position: absolute;
  display: none;
  margin: 0;
  text-align: right;
  z-index: 999;
  background: white;
  max-height: 200px;
  overflow: scroll;
}
.c-filter__ul--active {
  display: block;
}
.c-filter__item {
  list-style: none;
  display: block;
}
.c-filter__item input {
  display: none;
}
.c-filter__item input:checked ~ label:before {
  background-color: #4f69ff;
    border-color: #4f69ff;
  background-image: url("data:image/svg+xml,%3Csvg fill='rgb(255,255,255)' aria-hidden='true' data-prefix='fas' data-icon='check' class='svg-inline--fa fa-check fa-w-16' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
  background-size: 65%;
  background-position: center center;
  background-repeat: no-repeat;
  right: 10px;
}
.c-filter__item label {
  display: block;
  padding: 5px;
  cursor: pointer;
  padding: 20px 45px 20px 45px;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.1px;
  text-align: right;
  color: #3a3335;
}
.c-filter__item label:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 20px;
  height: 20px;
   border-radius: 4px;
  border: solid 1px #e0e0e0;
  background-color: #f8f7f7;
}
.c-filter__item label:hover {
  background-color: #f4f5f7;
}
.c-filter__item label:hover:before {
  border: 1px solid #c8c8c8;
}

.input-container{
  position: relative;
}
.col-animation .form-group.focused .justselect-title{
  color: #4f69ff;
  bottom: -7px;
    position: relative;

}

.input-container input{
  height: 72px;
  border-radius: 8px;
  border: solid 1px #ede8e9;
  background-color: #ffffff;
}
.input-container span{
  position: absolute;
  left: 20px;
  color: #908e8e;
  top: 20px;
}
.input-container label{
  font-size: 14px;
  font-weight: bold;
  color: #3a3335;
}
.payment-type{
  width: 227px;
  height: 44px;
  border-radius: 22px;
  background-color: rgba(0, 0, 0, 0.03);
  margin: auto;
  justify-content: center;
  align-items: center;
}
.payment-type input{
  max-width: 111px;
  height: 36px;
  border-radius: 18px !important;
  font-size: 16px;
  font-weight: bold;
  color: rgba(13, 36, 54, 0.6);

}

.payment-type input.active{
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  color: #4f69ff;
  max-width: 107px;
  background-color: #ffffff;
  width: 107px;
}
.switchbox  span{
  max-width: 111px;
  height: 36px;
  border-radius: 18px !important;
  font-size: 16px;
  font-weight: bold !important;
  color: rgba(13, 36, 54, 0.6);
  font-weight: bold;
  transition: all .1s ease-in-out;


}
.switchbox label {
  display: inline-block;
  cursor: pointer;
  position: relative;
   width: 100%;
  height: 100%;
}
.switchbox label span.on,
.switchbox label span.off {
  position: absolute;
  top: 1px;
  width: 50%;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0;

}
.switchbox span.on {  
  right: inherit;
  left: 0;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px; 
}
.switchbox span.off {  
  right:0;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.switchbox input {
  display: none;
}
.btn-color{
  color:#4f69ff !important
}
.switchbox input:checked + label:before {
  
  color:#4f69ff;
}
.switchbox input:checked + label:after {
  
  color: #4f69ff  ;
}

label{
    position:relative;    
}

.switchbox input + label:before {
    transition:0.3s;
    content:""; display:block;
    width:50%;
    height:20px;
    position:absolute;
    left:0;
    top:0;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  color: #4f69ff;
  max-width: 107px;
  background-color: #ffffff;
  width: 107px; 
  height: 80%;
  border-radius: 35px;
  left: 6px;
  top: 8px;
}

.switchbox input:checked + label:before {
    left:50%; 
}

.btn-submit{
  height: 46px;
  border-radius: 10px;
  background-color: #4f69ff;
  color: #ffffff;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
   max-width: 94%;
  margin: auto;
}
.col-info .form-control::-webkit-input-placeholder {
  color: #908e8e;
transition: 240ms;
}

.col-info .form-control:focus::-webkit-input-placeholder {
transition: none;
}

.col-info .form-group.focused .form-control::-webkit-input-placeholder {
color: #908e8e;

} 
.shap span{
  font-size: 16px;
  color: rgba(13, 36, 54, 0.6)
}

.compounds h2{
  font-size: 32px;
  color: #18191a;
}
.compounds .swiper-container img{
 width: auto;
}
.swiper-container {
  width: 100%;
  padding-bottom: 30px;
  cursor: grab;
}
.swiper-slide .p-relative{
  overflow: hidden;
}
.swiper-slide  img {

	-webkit-transition: all .2s ease-in-out;
	transition: all .2s  ease-in-out;
}
 .swiper-slide:hover .p-relative img {
	-webkit-transform: rotate(0) scale(1.1);
	transform: rotate(1deg) scale(1.09);
}
.swiper-slide:hover{
  box-shadow: 0 8px 23px 0 rgba(153, 155, 168, 0.25)
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  overflow: hidden;
  /* width: 25.5% !important; */
  border-radius: 6px;
  box-shadow: 0 3px 4px 0 rgba(153, 155, 168, 0.15);
  height: auto;
  -webkit-transition: all .2s ease-in-out;
	transition: all .2s  ease-in-out;
  cursor: auto;

}
.swiper-slide .p-relative{
  background: #f8f9fd;

}

.swiper-slide .info-container .img-container{
  background: rgb(42 192 132 / .8);
    padding: 10px;
    border-radius: 50%;
    max-width: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-left: 10px;

}
.swiper-slide li:nth-child(2n){
margin-top: 15px;
}
.swiper-slide li:nth-child(2n) .img-container{
  background-color: #ef106c
}
.swiper-slide .info-container span{
  font-size: 14px;
  font-weight: bold;
  color: #0d2436;
  display: block
}
.swiper-slide .info-container span:nth-child(2n){

  color: rgb(24 25 26 / .8)
}
.swiper-slide p{
  font-size: 16px;
  color: #18191a;
}
.swiper-slide small{
  opacity: 0.64;
  font-size: 14px;
  color: #18191a;
}

 .pagination-container{
  display: flex;
    position: relative;
    flex-direction: row-reverse;
     justify-content: space-between;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 50px;}

.most-viewed .swiper-button-prev{
  border-radius: 50%;
  opacity: 1;
  width: 50px;
  height: 50px;
  background-color: #4f69ff;
  color: white
}
.most-viewed .swiper-button-next{
  border-radius: 50%;
  opacity: 1;
  width: 50px;
  height: 50px;
  background-color: #4f69ff
}
.most-viewed .swiper-button-prev.swiper-button-disabled,.most-viewed .swiper-button-next.swiper-button-disabled {
  background-color: rgb(79 105 255 / .2);
}
 .swiper-button-prev:after,
 .swiper-button-next:after,
 .most-viewed   ul:after,
 .most-viewed   ul:before,
 .most-viewed  ul *::before,
 .most-viewed  ul *::after,
 section ul li *::after,
 section ul li *::before

 {
  background-image: none !important;
  content: none !important;
}
 

.most-viewed{
  background-color: #f8f9fd  ;
}
.most-viewed .swiper-container{
  padding-bottom: 100px;
}
.most-viewed .img-rounded{
  border-radius: 50%;
}
.most-viewed .info-list li span{
  font-size: 12px;
  color: rgba(13, 36, 54, 0.6);
}
.most-viewed .info-list li span:nth-child(2n){
  color: #18191a;
}
.most-viewed .info-list ul{
  display: grid;
  grid-template-columns: auto auto  auto;
  align-items: center;
}
.most-viewed .add-fav{
  position: absolute;
  bottom: 12px;
  left: 12px;
  cursor: pointer;
  transition: all .6s ease-in-out;
  stroke: #fff;
  stroke-width: 14px;
  width: 21px;
  height: 17px;
}
.most-viewed .add-fav path{
  transition: all .2s ease-in-out;
  fill: transparent;
  stroke-width: 30px;

}
.add-fav:hover path{
  fill: #eb2f06;
  stroke: #eb2f06;
}

.most-viewed .info-list ul li{
  display: inline-block;
  margin: 0;
  white-space: nowrap;

}
.most-viewed  .swiper-slide {
  /* width: 31% !important; */
  display: inline-table;

}

.most-viewed .list-money{
 border-radius: 6px;
  border: solid 1px #f2f2f4;
  background-color: #f8f9ff;
  display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
}
.most-viewed .list-money li{
  margin: 0;
  padding: 0 10px;
  width: 33%;
  height: 100%;

}
.most-viewed .list-money li span{
  font-size: 12px;
  font-weight: bold;
  color: rgba(13, 36, 54, 0.6);
  display: inherit;
  text-align: center;


}
.most-viewed .list-money li:nth-child(2n){
  border-left: 1px solid #ebedfa;
  border-right: 1px solid #ebedfa;
}
.most-viewed .list-money li span:nth-child(2n){
  color: #18191a;
  display: inline-block;
}
.most-viewed .p-color{
color: #4f69ff !important;

}
.most-viewed .list-benefits li{
   background-color: rgb(79 105 255 / .2);
  border-radius: 50%;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
}
.most-viewed .list-benefits li img{
  width: 11px;
  height: 11px;
}
.why-us h2{
  font-size: 32px;
  font-weight: bold;
  color: #18191a;
}
.why-us ul.list-unstyled.p-0.mt-5{
  position: relative;
}
.why-us ul.list-unstyled.p-0.mt-5.d-block.w-100:after{
  content: '' !important;
  position: absolute;
    width: 90%;
  
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background: #f8f8f8;
}
.why-us .text-right p{
  font-size: 16px;

  color: rgba(13, 36, 54, 0.8);
}
.why-us ul li {
  display: inline-flex;
  margin: 0 20px;
  align-items: center;

}

.why-us ul li:nth-child(1){
  margin: 0 0 0 20px;
}
.why-us ul li span {
  display: block
}
.why-us ul li  span:first-child{
  font-size: 20px;
  font-weight: bold;

  color: #0d2436;
}
.why-us ul li  span:last-child{
  color: #18191a;
  opacity: 0.83;
  font-size: 14px;

}

.why-us ul li .img-container{
  width: 48px;
  height: 48px;
  margin: 5px 0 4px 14px;
  padding: 15px 14px 12px;
  border-radius: 4px;


}
.why-us ul li:first-child .img-container{
  background-color: #4f69ff
}
.why-us ul li:nth-child(2n) .img-container{
  background-color: #2ac084;
}
.why-us ul li:nth-child(3n) .img-container{
  background-color: #ffab1d;
}
.why-us ul.w-100 li {
  display: inline-block;
  margin: 10px 0 ;
  align-items: center;
  width: 45%;
}
.why-us ul.w-100 li:last-child{
  width: 100%;
}

.testimonials{
  background-color: #f8f9fd;
  padding: 125px 0 20px 0

}
.testimonials p{
 color:  rgba(13, 36, 54, 0.8)
}
.testimonials .icon-container{
  width: 100px;
  height: 100px;
  padding: 19px 38px 49px 30px;
  background-color: #ffab1d;
  border-radius: 50%;
  position: absolute;
  top: -73px;
  right: -20px;
}
.testimonials .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  overflow: hidden;
   box-shadow: none;


}
.testimonials .swiper-slide:nth-child(2n){
  border-left: solid 1px #ebf0f4;
  border-right: solid 1px #ebf0f4;
  padding: 0 0 0 40px;
}
.testimonials .swiper-slide:last-child{
  border-left: none;

}
.testimonials .swiper-slide:nth-child(2n){
  padding: 0 40px 0 0 ;

}
.testimonials .swiper-button-prev{
  border-radius: 50%;
  opacity: 1;
  width: 50px;
  height: 50px;
  border: solid 1px #ede8e9;
  background-color: #ffffff
}
.testimonials .swiper-button-next{
  border-radius: 50%;
  opacity: 1;
  width: 50px;
  height: 50px;
  border: solid 1px #ede8e9;
  background-color: #ffffff;
  right: 70px;

}
.testimonials  .swiper-button-prev{
  position: absolute;
  right: 0;
}
  .swiper-wrapper{
  height: auto;
}
.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  opacity: .5;
}

.p-relative{
  position: relative;
}
@media (max-width:1100px){
  .col-animation .form-group.focused .control-label{
    right: -130px;

  }
  .col-animation .form-group {
    width: 440px;}
}
@media (max-width:990px){
  .col-animation .form-group{
    width: auto;
  }
 
.form{
  padding: 20px;

}
header .col-animation, header .col-info {
  border-radius: 10px;
  margin: 10px 0;
}
.col-animation .form-group.focused .control-label{
  right: -190px;

}
.btn-submit{
  position: inherit;
  max-width: 100%;


}
}
.newSwipper .swiper-button-next{
  right: auto;
  transform: rotate(180deg);
}
.newSwipper .swiper-button-prev{
  left: auto;
  right: 20px;
  transform: rotate(180deg);
}
@media (max-width:800px){
  .col-animation .form-group.focused .control-label {
    right: -140px;
}

}
@media (max-width:750px){
  header h1{
    font-size: 36px;
  }
  .col-animation .form-group.focused .control-label{
    right: -150px;
  
  }
  .swiper-slide {

    width: 45% !important;}
    
}
@media (max-width: 650px){
  .swiper-slide, .most-viewed .swiper-slide, .testimonials .swiper-slide {
    width: inherit !important;
  }
 
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    right: 10px
  }
}
@media (max-width:600px){
  .col-animation .form-group.focused .control-label{
    right: -125px;
  
  }
    .most-viewed .list-money{
    
         align-items: center;
         /* justify-content: center; */
         justify-content: space-between;
         height: 75;
     }
     .most-viewed .list-money li{
   
       height: 100%;
     
       display: flex;
         flex-direction: column;
         align-items: center;
         justify-content:space-between;
     }
     .input-container input{
      margin: 10px 0;

     }
}

@media (max-width: 500px){
  .col-animation .form-group.focused .control-label{
    right: -110px
  
  }
  .range-labels li{
    font-size: 12px;
  }
.input-container input {
  height: 65px;
  font-size: 14px;
}



.why-us ul li {
  display: inline-flex;
  margin: 0 3px;}
  .why-us ul li:nth-child(1) {
    margin: 0 0 0 3px;
}
section h2{
  font-size: 24px;

}

  .most-viewed .info-list ul {

    column-gap: 10px;
}
.why-us ul li span {
  padding: 2px !important;
}
.why-us ul.w-100 li{
  width: 46%;

}
.why-us ul li .img-container {
  width: 40px;
  height: 40px;
  display: flex;
  margin: 5px 0 4px 8px;
  padding: 15px 14px 12px;
 
  justify-content: center;
  align-items: center;
}
}

@media (max-width: 400px){
.input-container input {
    font-size: 12px;
}
.input-container span {
  top: 20px;
  font-size: 12px;}
  .col-animation .form-group.focused .control-label{
    right: -90px;

  }

}
@media (max-width: 380px){
  .col-animation .form-group.focused .control-label{
    right: -65px
  
  }
.why-us ul.w-100 li {
    width: 48%;
    white-space: nowrap;
}}
@media (max-width: 330px){
  .input-container input {
  
      font-size: 11px;
  }
}