.nav-fixed{
    background-color: white;
}
.howSection{
    padding-top: 4.8rem ;
    background-color:#f7f8fe;
}
.howSection h5{
    line-height: initial;
}
@media screen and (max-width:600px){
    .howSection{
        padding-right: 1rem;
    }
}
@media screen and (min-width:700px){
    .howSection{
        padding-top: 10rem;
    }
}