.nav-fixed{
    background-color: white;
}
.newTextColor{
    color: #4f69ff;
}
.newTextColor span i{
    color: gray;
}
.txtTrteeb{
    color: rgba(13, 36, 54, 0.6);
    display: block;
    margin-right: auto;
}
.notHide h6{
    cursor: pointer;
}
.frameMap{
    min-height: 100vh;
}
.form-select .form-control{
    padding-top: 2px;
}
.form-select .form-control:focus{
    background-color: #e5ebf7;
    color: #4f69ff;
}
.arrowDowon{
    position: absolute;
    left: 1.5rem;
    top: 0.8rem;
}
.formsControl .form-control{
    height: 51px;
    border-radius: 10px;
}
.formsControl .form-control:focus,.formsControl .form-control:visited{
    background-color: #e5ebf7;
}
.areaDimentions .form-control{
    border-radius: 0;
}
.lastInput{
    border-radius: 10.5px 0px 0px 10.5px !important;
}
.badgeS{
    border-radius: 13.5px;
    background-color: #e2e2e7;
    font-size: 12px;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
}
.areaDimentions .input-group-text,.inptGrp .input-group-text{
    border-radius: 0px 10.5px 10.5px 0px !important;
}
.areaDimentions span{
    font-size: 11px;
}
.areaDimentions .input-group-prepend{
    height: 51px;
}
.areaDimentions .form-group{
    border: 1px solid #ced4da;
    overflow: hidden;
    margin-bottom: 0;
    background-color: #e5ebf7;
}
.areaDimentions .form-group:last-child{
    border-radius: 10.5px 0px 0px 10.5px !important;
}
.areaDimentions .form-group label{
    font-size: 13px;
    margin-bottom: 0px;
    float: right;
    padding-right: 0.5rem;
    color: rgba(13, 36, 54, 0.6);
}
.areaDimentions .form-group .form-control{
    background-color: #e5ebf7;
    height: 30px;
    text-align: right;
    clear: both;
    padding-bottom: 2px;
    width: 53px;
}
.most-viewed .swiper-container {
    padding-bottom: 35px;
}
.arrowAngle{
    transform: rotate(270deg); 
}
.newSerchAdv{
    display: none;
}
.alarmMenu , .searchSection{
    box-shadow: 0 1px 1px 0 rgb(25 35 37 / 6%);
    margin-top: 0.1rem;
}
.alarmBox{
    background-color: #f4f4f6;
}
.alarmBox small{
    color:rgb(0 0 0);
    font-size: 14px;
    font-weight: bold;
}
.most-viewed .swiper-button-next {
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    width: 40px;
    right: -15px;
    top: 63px;
    height: 40px;
    background-color: #4f69ff;
}
.most-viewed .swiper-button-prev {
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    width: 40px;
    left: -15px;
    top: 63px;
    height: 40px;
    background-color: #4f69ff;
}
.btnDel{
    border-radius: 10px;
    padding: 0.5rem 1rem;
    border: solid 1px #4f69ff;
    color: #4f69ff;
}
.btnDel:focus{
    border: solid 1px #4f69ff;
}
.btnDel:hover{
    border: solid 1px #4f69ff;
    box-shadow: 0 4px 4px 0 rgb(25 35 37 / 22%);
}
.btnApp{
    padding: 0.5rem 1.5rem;
    background-color: #4f69ff;
    border-radius: 10px;
    color: white;
}
.btnApp:hover{
    color: white;
    box-shadow: 0 4px 4px 0 rgb(25 35 37 / 22%);
    background-color: #3E57E3;
    border-bottom: 1px solid #3E57E3;
}
.advanceSearch,.closeTime,.notifications{
    cursor: pointer;
}
.filterOptions{
    border-top: 1px solid #e8eaea;
}
.filterOptions label{
    font-weight: bold;
    color: #3a3335;
}
.filterOptions .form-control{
    height: 51px;
    border-radius: 8px !important;
    color: #908e8e;
}
.filterOptions .input-group .form-control{
    border-radius: 8px 0px 0px 8px !important;
}
.filterOptions .input-group-text{
    border-radius: 0px 8px 8px 0px !important;
}
.collapse .custom-control-label::before,.collapse .custom-control-label::after{
    position: absolute;
    right: 0;
}
.collapse .custom-control-label{
    padding-right: 1.2rem;
    cursor: pointer;
}
.panel-heading{
    cursor: pointer;
}
.panel-title {
    position: relative;
}
    
.panel-title::after {
    content: "\f107";
    color: #333;
    top: 2px;
    right: 54px;
    position: absolute;
    font-family: "FontAwesome"
}
.panel-title[aria-expanded="true"]::after {
    content: "\f106";
}

    /*
    * Added 12-27-20 to showcase full title clickthrough
    */

.panel-heading-full.panel-heading {
    padding: 0;
}

.panel-heading-full .panel-title {
    padding: 10px 15px;
}

.panel-heading-full .panel-title::after {
    top: 10px;
    right: 15px;
}
.advanceSearch{
    text-align: left;
}
#map {
    height: 100%;
}
.txtNotify{
    color: #18191a;
}
@media screen and (max-width:767px){
    .areaDimentions .form-group{
        width: 40% !important;
    }
    .areaDimentions .input-group-prepend{
        display: inline;
        width: 20%;
    }
    .areaDimentions .input-group-text{
        width: 140% !important;
        padding: 1.05rem 0.5rem !important;
    }
}
@media screen and (max-width:600px){
    .searchSection{
        padding-right: 1rem;
    }
    .most-viewed .swiper-button-prev,.most-viewed .swiper-button-next{
        position: relative;
        left: unset;
        right: unset;
        top: 20px;
    }
    .advSearch{
        padding-bottom: 1.5rem;
    }
    .advanceSearch{
        text-align: right;
    }
    .txtTrteeb{
        margin-right: unset;
    }
    .notHide h6{
        padding-right: 1rem;
    }
    .notHide .btn{
        margin-top: 0.5rem;
    }
    .result{
        font-size: 18px;
    }
    .result span{
        margin-top: 0.7rem;
        margin-right: 0.1rem;
    }
}
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
}

    /* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.multiselect {
    width: 100%;
  }
  
.selectBox {
    position: relative;
}
  
.selectBox select {
    max-width: 100%;
    font-weight: bold;
}
  
.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

input[type=checkbox]{
    margin-left: 0.2rem;
}

#checkboxes {
    display: none;
    max-width: 100%;
    max-height: 140px;
    overflow-y: scroll;
    border: 1px #dadada solid;
}
  
#checkboxes label {
    display: block;
    cursor: pointer;
    text-align: right;
    padding: 3px 6px;
}
#checkboxes input:active label{
    font-weight: bold;
}
#checkboxes label:hover {
    background-color: #b8b8ff;
}

.checkbox-menu li {
    text-align: right;
    font-weight: bold;
}
.checkbox-menu li label {
    display: block;
    padding: 10px 10px;
    clear: both;
    cursor: pointer;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin:0;
    transition: background-color .4s ease;
}
.checkbox-menu li input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
}

.checkbox-menu li.active label {
    /* background-color: #cbcbff; */
    font-weight:bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
    background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
    background-color: #b8b8ff;
}
.dropdown-toggle::after{
    display: none;
}
@media (max-width: 400px){
    .most-viewed .info-list ul {
        column-gap: 10px;
        display: block !important;
    }
}